@mixin pos($tp-margin: 10px, $lr-margin: 10px) {
  position: absolute;
  top: $tp-margin;
  bottom: $tp-margin;
  left: $lr-margin;
  right: $lr-margin;
}

.App {
  border: brown solid 2px;
  text-align: center;

  .award {
    border: black solid 2px;

    .border-out {
      width: 500px;
      height: 150px;
      position: relative;
      border-radius: 5px;
      background: #A68573;
      margin: 80px auto 20px auto;

      .border-middle {
        @include pos;
        border-radius: 5px;
        background: #524757;

        .inner-out {
          @include pos;
          background: #C5C3AA;

          .inner-middle {
            @include pos(7.5px, 0);
            background: #E2DEC4;

            .text {
              @include pos(0, 0);
              overflow: hidden;
              background: #FCF8DD;
              .roller {
                bottom: 0;
                width: 100%;
                position: absolute;
                // animation-fill-mode: forwards;
                &.start {
                  animation: starting 3000ms;
                  animation-timing-function: ease-in; // 先慢後快
                }
                &.run {
                  animation: run 310ms;
                  animation-iteration-count: infinite;
                  animation-timing-function: linear; // 等速
                }
                &.stop {
                  animation: stopping 3000ms;
                  animation-timing-function: ease-out; // 先快後慢
                  animation-fill-mode: forwards;
                }
                .QR {
                  width: 100%;
                  height: 80px;
                  font-size: 40px;
                  font-weight: 700;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }

    .button-bottom {
      width: 365px;
      height: 75px;
      margin: 10px auto;
      border-radius: 3px;
      position: relative;
      background-color: #524757;
      
      .button {
        padding: 0;
        left: 10px;
        border: 0px;
        bottom: 10px;
        width: 345px;
        height: 75px;
        outline: none;
        display: flex;
        cursor: pointer;
        position: absolute;
        background: #A68573;
        flex-direction: column;
        transition: height 0.2s;
        border-radius: 3px 3px 0px 0px;

        .button-text {
          flex: 1;
          margin: auto;
          color: #fff;
          font-size: 40px;
          font-weight: 700;
        }

        &:active {
          height: 67.5px;
          &:after {
            height: 0;
          }
          
        }

        &:disabled {
          height: 75px;
          background: #a19893;
          .button-text {
            color: #ccc;
          }
          &:after {
            height: 7.5px;
            background: #80746c;
          }
        }
        
        &:after {
          content: '';
          width: 100%;
          height: 7.5px;
          display: block;
          background: #936850;
          transition: height 0.2s;
        }
      }
    }
  }
}

@keyframes starting {
  0% {
    bottom: 0%;
    filter: blur(0);
  }

  50% {
    // bottom: -750%;
    filter: blur(0);
  }

  100% {
    bottom: -1500%;
    filter: blur(2px);
  }
}

@keyframes run {
  0% {
    bottom: 0%;
    filter: blur(2px);
  }
  100% {
    bottom: -1500%;
    filter: blur(2px);
  }
}

@keyframes stopping {
  0% {
    bottom: 0%;
    filter: blur(2px);
  }

  50% {
    // bottom: -750%;
    filter: blur(0);
  }

  100% {
    bottom: -1500%;
    filter: blur(0);
  }
}